/* Custom fonts */
@font-face {
  font-family: 'Nohemi';
  font-weight: 500;
  src: local('Nohemi'), url(/fonts/Nohemi-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Nohemi';
  font-weight: 600;
  src: local('Nohemi'), url(/fonts/Nohemi-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Nohemi';
  font-weight: 700;
  src: local('Nohemi'), url(/fonts/Nohemi-Bold.otf) format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 500;
  src: local('Proxima Nova'), url(/fonts/Proximanova-Medium.otf) format('otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 700;
  src: local('Proxima Nova'), url(/fonts/Proximanova-Bold.otf) format('otf');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  background-color: #F9F9F9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}